Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tsc, missing-migrations, check-packages-versions, generate-openapi-schema, generate-frontend-client

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: frontend-lint
        name: run frontend lint
        entry: sh -c 'cd frontend && pnpm run lint'
        language: system
        types: [file]
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true
      - id: frontend-tsc
        name: run frontend tsc
        entry: sh -c 'cd frontend && pnpm run tsc'
        language: system
        types: [file]
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
      - id: missing-migrations
        name: check missing migrations
        entry: poetry run python manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: check-packages-versions
        name: check packages versions
        entry: ./scripts/check_packages_versions.sh
        language: script
        files: ^(pyproject\.toml|frontend/package\.json)$
      - id: generate-openapi-schema
        name: generate OpenAPI schema
        entry: poetry run python manage.py generate_openapi_schema --output frontend/openapi_schema.json
        language: system
        # Only run OpenAPI schema generation if views.py or package version have changed:
        files: (views\.py$|pyproject\.toml)
        pass_filenames: false
      - id: generate-frontend-client
        name: generate frontend client
        entry: sh -c 'cd frontend && pnpm run generate-client'
        language: system
        # Only run frontend client generation if frontend files have changed:
        files: openapi_schema\.json$
        pass_filenames: false

Add py313 to tox basepython
  tox.ini
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Update pyproject dependencies
  .python-version
  poetry.lock
  tests/test_helpers/test_use_cases.py
  tests/test_views.py
Due: generate-openapi-schema

Fix error when running mkdocs build
  CONTRIBUTING.md
  mkdocs.yml
Due: none

Update frontend dependencies
  example/assets/js/components/Chat/Chat.tsx
  example/assets/js/components/ThreadsNav/ThreadsNav.tsx
  example/package.json
  example/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/request.ts
  frontend/tsconfig.json
Due: frontend-lint, frontend-tsc, check-packages-versions

Undo wrong formatting
  CONTRIBUTING.md
Due: none

Allow omitting temperature in get_llm for models that do not support the parameter
  django_ai_assistant/helpers/assistants.py
  tests/test_helpers/test_assistants.py
Due: none

Add none temp param test case
  tests/test_helpers/test_assistants.py
Due: none

Undo wrong formatting
  django_ai_assistant/helpers/assistants.py
Due: none

Deployed 2006aae to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/404.html
  dev/assets/javascripts/bundle.525ec568.min.js
  dev/assets/javascripts/bundle.525ec568.min.js.map
  dev/assets/javascripts/bundle.c8b220af.min.js
  dev/assets/javascripts/bundle.c8b220af.min.js.map
  dev/assets/javascripts/workers/search.6ce7567c.min.js.map
  dev/assets/javascripts/workers/search.f8cc74c7.min.js
  dev/assets/javascripts/workers/search.f8cc74c7.min.js.map
  dev/assets/stylesheets/main.4af4bdda.min.css
  dev/assets/stylesheets/main.4af4bdda.min.css.map
  dev/assets/stylesheets/main.8c3ca2c6.min.css
  dev/assets/stylesheets/main.8c3ca2c6.min.css.map
  dev/changelog/index.html
  dev/contributing/index.html
  dev/frontend/index.html
  dev/get-started/index.html
  dev/index.html
  dev/reference/assistants-ref/index.html
  dev/reference/index.html
  dev/reference/models-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/support/index.html
  dev/tutorial/index.html
Due: none

Deployed f760597 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/reference/assistants-ref/index.html
  dev/search/search_index.json
Due: none

Release 0.1.2
  CHANGELOG.md
  frontend/openapi_schema.json
  frontend/package.json
  frontend/src/client/core/OpenAPI.ts
  pyproject.toml
Due: frontend-lint, frontend-tsc, check-packages-versions, generate-openapi-schema, generate-frontend-client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Deployed e88ddf7 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/changelog/index.html
  dev/search/search_index.json
Due: none

migrating to codecov
  .github/workflows/ci.yml
  README.md
  frontend/README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

updating codecov-action to v5
  .github/workflows/ci.yml
Due: none

pin codecov-action to v5.5.1 commit SHA
  .github/workflows/ci.yml
Due: none

updating tox
  tox.ini
Due: none

poetry lock
  poetry.lock
Due: none

updating schema
  frontend/openapi_schema.json
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/request.ts
Due: frontend-lint, frontend-tsc, generate-frontend-client

updating schema
  frontend/openapi_schema.json
Due: generate-frontend-client

fixing schema version mismatch
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/request.ts
Due: frontend-lint, frontend-tsc

Migrate to Codecov, update Python 3.13, and refine tox configuration
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .python-version
  README.md
  frontend/README.md
  frontend/openapi_schema.json
  frontend/package.json
  frontend/src/client/core/OpenAPI.ts
  poetry.lock
  pyproject.toml
  tox.ini
Due: frontend-lint, frontend-tsc, check-packages-versions, generate-openapi-schema, generate-frontend-client

updating openapi version
  frontend/openapi_schema.json
  frontend/src/client/core/OpenAPI.ts
Due: frontend-lint, frontend-tsc, generate-frontend-client

adding django50 to tox
  tox.ini
Due: none

Deployed 17abaa6 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fixing python versions in tox execution
  tox.ini
Due: none

reworking tox solution
  tox.ini
Due: none

Deployed 34d1b6b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

updating django-ninja
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema
