Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tsc, missing-migrations, check-packages-versions, generate-openapi-schema, generate-frontend-client

frontend-lint:
  name: run frontend lint
  entry: sh -c 'cd frontend && pnpm run lint'
  language: system
  pass_filenames: true

frontend-tsc:
  name: run frontend tsc
  entry: sh -c 'cd frontend && pnpm run tsc'
  language: system
  pass_filenames: false

missing-migrations:
  name: check missing migrations
  entry: poetry run python manage.py makemigrations --check
  language: system
  pass_filenames: false

check-packages-versions:
  name: check packages versions
  entry: ./scripts/check_packages_versions.sh
  language: script

generate-openapi-schema:
  name: generate OpenAPI schema
  entry: poetry run python manage.py generate_openapi_schema --output frontend/openapi_schema.json
  language: system
  pass_filenames: false

generate-frontend-client:
  name: generate frontend client
  entry: sh -c 'cd frontend && pnpm run generate-client'
  language: system
  pass_filenames: false

removes unecessary osmap dependency
  frontend/openapi_schema.json
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema, generate-frontend-client

fixes PR comments for the tour guide app
  example/assets/js/App.tsx
  example/assets/js/components/TourGuide/TourGuide.module.css
  example/assets/js/components/TourGuide/TourGuide.tsx
  example/demo/views.py
  example/package.json
  example/pnpm-lock.yaml
Due: generate-openapi-schema

fixes issue with manually inputing coordinates on tour guide app
  example/assets/js/App.tsx
  example/assets/js/components/TourGuide/TourGuide.tsx
Due: none

improves usage of mantine components in the tour guide demo
  example/assets/js/components/TourGuide/TourGuide.module.css
  example/assets/js/components/TourGuide/TourGuide.tsx
Due: none

Simplify and add login required to TourGuideAssistantView
  example/assets/js/App.tsx
  example/assets/js/components/Chat/Chat.tsx
  example/assets/js/components/TourGuide/TourGuide.tsx
  example/demo/views.py
Due: generate-openapi-schema

Deployed b9f6ec0 to dev with MkDocs 1.6.0 and mike 2.1.2
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

adds as_graph method to the ai assistant class to port
  django_ai_assistant/helpers/assistants.py
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

adds rag capability to as_graph flow
  django_ai_assistant/helpers/assistants.py
Due: none

adds support for RAG to the assistant as_graph implementation
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/langchain/chat_message_histories.py
  example/tour_guide/ai_assistants.py
Due: none

fixes DjangoChatMessageHistory add_message
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/langchain/chat_message_histories.py
Due: none

only stores messages that are from humam or from the AI as long as it's not a tool call
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/langchain/chat_message_histories.py
Due: none

improves tour_guide assistant query
  example/tour_guide/ai_assistants.py
Due: none

reorganizes graph so the retriver node is self contained
  django_ai_assistant/helpers/assistants.py
Due: none

fixes tests to work with as_graph
  django_ai_assistant/langchain/chat_message_histories.py
  tests/cassettes/test_views/test_create_thread_message.yaml
  tests/cassettes/test_views/test_delete_thread_message.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_invoke.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/cassettes/test_use_cases/test_create_message.yaml
  tests/test_helpers/test_assistants.py
  tests/test_helpers/test_use_cases.py
  tests/test_views.py
Due: generate-openapi-schema

adds docs to as_graph
  django_ai_assistant/helpers/assistants.py
Due: none

allows toggling between the old as_chain to the new as_graph methods. Tests run with as_graph.
  django_ai_assistant/conf.py
  django_ai_assistant/helpers/assistants.py
  tests/settings.py
Due: none

sets example app to use langgraph
  example/example/settings.py
Due: none

uses messages ids to check for the existing messages in DjangoChatMessageHistory
  django_ai_assistant/langchain/chat_message_histories.py
Due: none

optimizes DjangoChatMessageHistory add_messages by returning only the message ids
  django_ai_assistant/langchain/chat_message_histories.py
Due: none

Deployed ae0dbe8 to dev with MkDocs 1.6.0 and mike 2.1.2
  dev/objects.inv
  dev/reference/assistants-ref/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

removes as_chain code and references
  django_ai_assistant/conf.py
  django_ai_assistant/helpers/assistants.py
  example/example/settings.py
  tests/settings.py
Due: none

removes as_chain references to chain in docs and updates RAG tests and docs
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/helpers/use_cases.py
  docs/tutorial.md
  example/rag/ai_assistants.py
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/test_assistants.py
Due: none

fixes broken git add . note sections in tutoral.md
  docs/tutorial.md
Due: none

fixes broken warning sections in tutoral.md
  docs/tutorial.md
Due: none

Deployed 81d0ff6 to dev with MkDocs 1.6.0 and mike 2.1.2
  dev/objects.inv
  dev/reference/assistants-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/search/search_index.json
  dev/tutorial/index.html
Due: none

Fix the RAG question rewrite of the retriever node
  django_ai_assistant/helpers/assistants.py
Due: none

enables structured output assistants
  django_ai_assistant/helpers/assistants.py
  example/demo/views.py
  example/tour_guide/ai_assistants.py
  poetry.lock
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_pydantic_structured_output.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_typeddict_structured_output.yaml
  tests/test_helpers/test_assistants.py
Due: generate-openapi-schema

removes transaction marks from structured output tests
  tests/test_helpers/test_assistants.py
Due: none

removes misleading comment in get_structured_output_llm
  django_ai_assistant/helpers/assistants.py
Due: none

Fix tests
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/test_assistants.py
Due: none

Deployed 2a2efc4 to dev with MkDocs 1.6.0 and mike 2.1.2
  dev/reference/assistants-ref/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

replaces SystemMessages to HumanMessages and automatically appends RAG context for compatibility with Anthropic
  django_ai_assistant/helpers/assistants.py
  example/movies/ai_assistants.py
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

removes instructions system message from history before calling RAG
  django_ai_assistant/helpers/assistants.py
Due: none

removes anthropic call in movie assistant that was left after tests
  example/movies/ai_assistants.py
Due: none

fixes tests after tweaks in prompt
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_pydantic_structured_output.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_typeddict_structured_output.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/test_assistants.py
Due: none

Deployed 142f606 to dev with MkDocs 1.6.0 and mike 2.1.2
  dev/objects.inv
  dev/reference/assistants-ref/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Incomplete
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/langchain/tools.py
  example/movies/ai_assistants.py
Due: none

Fix parallel tool calling in sqlite in example
  .gitignore
  example/example/settings.py
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

Fix tests
  tests/cassettes/test_views/test_create_thread_message.yaml
  tests/cassettes/test_views/test_delete_thread_message.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_invoke.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_pydantic_structured_output.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_typeddict_structured_output.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/cassettes/test_use_cases/test_create_message.yaml
  tests/test_helpers/test_assistants.py
  tests/test_helpers/test_use_cases.py
  tests/test_views.py
  tox.ini
Due: generate-openapi-schema

Deployed 46f4a99 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/404.html
  dev/assets/javascripts/bundle.d6f25eb3.min.js
  dev/assets/javascripts/bundle.d6f25eb3.min.js.map
  dev/assets/javascripts/bundle.fe8b6f2b.min.js
  dev/assets/javascripts/bundle.fe8b6f2b.min.js.map
  dev/assets/javascripts/workers/search.6ce7567c.min.js
  dev/assets/javascripts/workers/search.6ce7567c.min.js.map
  dev/assets/javascripts/workers/search.b8dbb3d2.min.js
  dev/assets/javascripts/workers/search.b8dbb3d2.min.js.map
  dev/assets/stylesheets/main.6543a935.min.css
  dev/assets/stylesheets/main.6543a935.min.css.map
  dev/assets/stylesheets/main.8c3ca2c6.min.css
  dev/assets/stylesheets/main.8c3ca2c6.min.css.map
  dev/changelog/index.html
  dev/contributing/index.html
  dev/frontend/index.html
  dev/get-started/index.html
  dev/index.html
  dev/reference/assistants-ref/index.html
  dev/reference/index.html
  dev/reference/models-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/support/index.html
  dev/tutorial/index.html
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  frontend-tsc: any of: ^frontend/.*\.(ts|tsx)$
  missing-migrations: any of: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
  check-packages-versions: any of: ^(pyproject\.toml|frontend/package\.json)$
  generate-openapi-schema: any of: (views\.py$|pyproject\.toml)
  generate-frontend-client: any of: openapi_schema\.json$
