Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-tsc, missing-migrations, check-packages-versions, generate-openapi-schema, generate-frontend-client

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: frontend-lint
        name: run frontend lint
        entry: sh -c 'cd frontend && pnpm run lint'
        language: system
        types: [file]
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true
      - id: frontend-tsc
        name: run frontend tsc
        entry: sh -c 'cd frontend && pnpm run tsc'
        language: system
        types: [file]
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
      - id: missing-migrations
        name: check missing migrations
        entry: poetry run python manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: check-packages-versions
        name: check packages versions
        entry: ./scripts/check_packages_versions.sh
        language: script
        files: ^(pyproject\.toml|frontend/package\.json)$
      - id: generate-openapi-schema
        name: generate OpenAPI schema
        entry: poetry run python manage.py generate_openapi_schema --output frontend/openapi_schema.json
        language: system
        # Only run OpenAPI schema generation if views.py or package version have changed:
        files: (views\.py$|pyproject\.toml)
        pass_filenames: false
      - id: generate-frontend-client
        name: generate frontend client
        entry: sh -c 'cd frontend && pnpm run generate-client'
        language: system
        # Only run frontend client generation if frontend files have changed:
        files: openapi_schema\.json$
        pass_filenames: false

Upgrade to Langchain 0.3 and other deps
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

Deployed bce8332 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/404.html
  dev/changelog/index.html
  dev/contributing/index.html
  dev/frontend/index.html
  dev/get-started/index.html
  dev/index.html
  dev/reference/assistants-ref/index.html
  dev/reference/index.html
  dev/reference/models-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/support/index.html
  dev/tutorial/index.html
Due: none

Fix firecrawl_scrape_url
  example/movies/ai_assistants.py
Due: none

Additional sqlite config against concurrency issues
  example/example/settings.py
Due: none

Improve MovieRecommendationAIAssistant
  example/movies/admin.py
  example/movies/ai_assistants.py
Due: none

Incomplete
  django_ai_assistant/helpers/assistants.py
  example/demo/views.py
  example/example/settings.py
  example/movies/ai_assistants.py
Due: generate-openapi-schema

Simplify graph for structured output
  django_ai_assistant/helpers/assistants.py
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_pydantic_structured_output.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_typeddict_structured_output.yaml
Due: none

Improve consistency of MovieRecommendationAIAssistant
  example/README.md
  example/issue_tracker/ai_assistants.py
  example/movies/ai_assistants.py
  example/rag/ai_assistants.py
  example/weather/ai_assistants.py
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

Fix tests
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_pydantic_structured_output.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_typeddict_structured_output.yaml
Due: none

Deployed 0f2ec94 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/404.html
  dev/assets/javascripts/bundle.525ec568.min.js
  dev/assets/javascripts/bundle.525ec568.min.js.map
  dev/assets/javascripts/bundle.d6f25eb3.min.js
  dev/assets/javascripts/bundle.d6f25eb3.min.js.map
  dev/changelog/index.html
  dev/contributing/index.html
  dev/frontend/index.html
  dev/get-started/index.html
  dev/index.html
  dev/objects.inv
  dev/reference/assistants-ref/index.html
  dev/reference/index.html
  dev/reference/models-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/support/index.html
  dev/tutorial/index.html
Due: none

Minor tour guide UI refactor
  example/assets/js/components/TourGuide/TourGuide.tsx
Due: none

Rename attributes
  example/assets/js/components/TourGuide/TourGuide.tsx
  example/tour_guide/ai_assistants.py
Due: none

Deployed c98970d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Improve performance and precision on movies AI
  example/README.md
  example/example/settings.py
  example/movies/ai_assistants.py
Due: none

Add markdown rendering to HTMX
  example/assets/css/htmx_index.css
  example/demo/templates/demo/chat_thread.html
  example/demo/templatetags/__init__.py
  example/demo/templatetags/markdown.py
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

Deployed e848a4f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Threads per assistant (optional)
  CONTRIBUTING.md
  django_ai_assistant/api/schemas.py
  django_ai_assistant/api/views.py
  django_ai_assistant/helpers/use_cases.py
  django_ai_assistant/migrations/0006_thread_assistant_id.py
  django_ai_assistant/models.py
  example/assets/js/components/Chat/Chat.tsx
  example/demo/templates/demo/chat_thread.html
  example/package.json
  example/pnpm-lock.yaml
  frontend/openapi_schema.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/useThreadList.ts
  frontend/tests/useThreadList.test.ts
  tests/test_helpers/test_use_cases.py
  tests/test_views.py
Due: frontend-lint, frontend-tsc, missing-migrations, generate-openapi-schema, generate-frontend-client

Implement and document updateThread in useThreadList
  django_ai_assistant/helpers/use_cases.py
  docs/frontend.md
  frontend/src/hooks/useThreadList.ts
  frontend/tests/useThreadList.test.ts
Due: frontend-lint, frontend-tsc

Deployed 0a1b89c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/contributing/index.html
  dev/frontend/index.html
  dev/objects.inv
  dev/reference/models-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Remove url from Attraction as its unused
  example/tour_guide/ai_assistants.py
Due: none

Store all messages (include tool calls)
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/helpers/django_messages.py
  django_ai_assistant/helpers/use_cases.py
  django_ai_assistant/langchain/chat_message_histories.py
  django_ai_assistant/models.py
  example/weather/ai_assistants.py
  tests/langchain/__init__.py
  tests/langchain/test_chat_message_histories.py
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_invoke.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/test_assistants.py
  tests/test_views.py
Due: missing-migrations, generate-openapi-schema

Improve coverage
  .coveragerc
  tests/test_conf.py
  tests/test_views.py
Due: generate-openapi-schema

Deployed ba3d4ec to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/objects.inv
  dev/reference/assistants-ref/index.html
  dev/reference/models-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/search/search_index.json
Due: none

Doc fixes
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/helpers/use_cases.py
  django_ai_assistant/models.py
  docs/tutorial.md
Due: missing-migrations

Release 0.1.0
  CHANGELOG.md
  example/package.json
  frontend/openapi_schema.json
  frontend/package.json
  frontend/src/client/core/OpenAPI.ts
  pyproject.toml
Due: frontend-lint, frontend-tsc, check-packages-versions, generate-openapi-schema, generate-frontend-client

Deployed 99e3abc to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/reference/assistants-ref/index.html
  dev/reference/models-ref/index.html
  dev/reference/use-cases-ref/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/tutorial/index.html
Due: none

Deployed 05bf2dd to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/changelog/index.html
  dev/search/search_index.json
Due: none

Fix .github/workflows/docs-update.yml
  .github/workflows/docs-update.yml
Due: none

Add Python 3.13 support
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .python-version
  pyproject.toml
  tox.ini
Due: check-packages-versions, generate-openapi-schema

Ollama local ChatLlama3.1 weather app example
  django_ai_assistant/helpers/assistants.py
  example/example/settings.py
  example/weather/ai_assistants.py
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

Add comment about the RAG custom command
  example/README.md
Due: none

Fix AttributeError: 'HumanMessage' object has no attribute
  django_ai_assistant/helpers/assistants.py
Due: none

Update vcr cassette
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/test_assistants.py
Due: none

Config vcr to hide x-api-key
  tests/conftest.py
Due: none

Deployed 2e5aff2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/reference/assistants-ref/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Release 0.1.1
  CHANGELOG.md
  frontend/openapi_schema.json
  frontend/package.json
  frontend/src/client/core/OpenAPI.ts
  pyproject.toml
Due: frontend-lint, frontend-tsc, check-packages-versions, generate-openapi-schema, generate-frontend-client

Deployed 5b26c73 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/changelog/index.html
  dev/search/search_index.json
Due: none

Update backend dependencies
  poetry.lock
  pyproject.toml
Due: check-packages-versions, generate-openapi-schema

Fix tests
  tests/test_helpers/test_use_cases.py
  tests/test_views.py
Due: generate-openapi-schema
